/*body*/
body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    min-height: 100vh;
}
/*container div*/
.workspace {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    min-width: 20vw;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    justify-items: center;
    height: 65vh;
    padding-top: 30px;
}    
img {
    border-radius: 50%;
    width: 70px;
    display: flex;
}
h1 {
    font-size: 20px;
    margin-bottom: 7px;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-size: 11px;
}
p {
    font-size: 14px;
}    
/*socials*/
.socials > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 220px;
    height: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-docration: none;
}
.socials > div:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
a {
    color: white;
}


.attribution { 
    font-size: 9px; 
    text-align: center;
    padding-bottom: 0%;    
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 480px) {
    .workspace {
        max-width: 90vw;
        max-height: 60vh;
        padding: 25px 15px;
    }
    
    img {
        width: 70px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    .socials > div {
        height: 40px;
        font-size: 14px;
        width: 90px;
        text-docration: none;
    }

}




